@-moz-document domain("draw.io") {
iframe {
   filter: invert(100%) hue-rotate(180deg) !important;
   transform: translate3d(0, 0, 0) !important;
   -webkit-filter: invert(100%) hue-rotate(180deg) !important;
   -webkit-transform: translate3d(0, 0, 0) !important;
}
}
